#navbuttons{
    position: fixed;
    width:100px;
  }
  #movingbuttons{
    float: right;
    background-color:rgb(226, 214, 193);
     color:rgba(7, 7, 7, 0.7);
     font-size: 20px;
     width: 100px;
     margin: 0px;
     text-align:center;
     padding: 10px;
     font-family: "Alegreya", sans-serif;
  }
  #text2{  /*font*/
    background-color:rgba(177, 133, 58, 0.5);
     color:rgba(255, 255, 255, 0.7);
     font-size: 40px;
     width: 800px;
     margin: 70px;
     text-align:center;
     padding: 20px;
     font-family: "Alegreya", sans-serif;
     -webkit-text-stroke: 1px rgba(31, 21, 7, 1);
     text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
 }
#part13{
    background-image:url(newpics/street2.png); 
    display:flex;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content:space-around;
    align-items:center;
    height:900px;
    padding: 20px;
    width:1500px;
  }
  #part14{
    background-image:url(newpics/citytopview.png); 
    display:flex;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content:space-around;
    align-items:center;
    height:900px;
    padding: 20px;
    width:1500px;
  }
  #part15{
    background-image:url(newpics/street2.png); 
    display:flex;
    background-color: rgba(255, 255, 255, 0.7);
    justify-content:space-around;
    align-items:center;
    height:900px;
    padding: 20px;
    width:1500px;
  }