body {
    background-color: rgb(237, 218, 176);
    font-family: Copperplate, Papyrus, fantasy;
   }
   h3 {
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(165, 148, 128);
    margin: 50px;
    text-align: center;
    font-size: 50px;
   }
   .imgcenter {
    display: block;
    margin: 0 auto;
}
    #thepic {
        margin-left: auto;
        margin-right: auto;
        width: 719px;
        height: 627px;
        background-image: url('googlesearch.png');
    }

    #thepic:hover {
        background-image: url('ad.jpg');
    }
   
   .theimage{
       height: 200px;
       width: 400px;
       
   }
  .theimagetitle{
      position: relative;
      text-align: center;
      top:100;
      left:200;
      font-size: 50px;
      opacity: 0;
    }
 
   .theimagetitle:hover{
    opacity:1;
   }
   